<div class="clear">
</div>

<!---footer--->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 column">
                <img src="./assets/images/logo.png" alt="Ursi Galletti Orgebrería">
            </div>
            <div class="col-xs-12 col-sm-4 column">
                <h4>Contacto</h4>
                <p><a href="mailto:ugalletti@hotmail.com" target="_blank">ugalletti@hotmail.com</a><br>
                    <a href="telf:+582129919845">+1-832-897.60.91</a></p>
                <a href="https://wa.me/18328976091" title="Facebook" target="_blank"><i class="fa fa-whatsapp"></i> </a>
                <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="http://www.instagram.com/" title="Dribble" target="_blank"><i class="fa fa-instagram"></i></a>
                <h5>7500 Bellaire Blvd, Houston, Texas 77036, <br>United States</h5>
            </div>
            <!-- <div class="col-xs-12 col-sm-4 column">
              <h4>ubicación </h4>
              <p>CC.TEXAS STORE<br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br> Texas, EE.UU.</p>
          </div> -->

        </div>
    </div>

</footer>
<div class="clear"></div>

<!---credito y copyright--->

<div class="credits">
    <p>®2023 Ursi Galletti Orgebrería. All Rights Reserved | powered by <a href="http://www.malcolmcordova.com" target="_blank">malcolmcordova.com</a></p>
</div>
