<!-- navegacion -->
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
            <!-- <a class="navbar-brand page-scroll logo" (click)="goToInicio()"></a> -->
            <a class="navbar-brand page-scroll logo" href="#inicio"></a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <!-- <a class="page-scroll cursor" (click)="goToInicio()">Inicio</a> -->
                    <a class="page-scroll cursor" href="#inicio">Inicio</a>
                </li>
                <li>
                    <!-- <a class="page-scroll cursor" (click)="goToMotivate()">Motivate</a> -->
                    <a class="page-scroll cursor" href="#motivate">Motivate</a>
                </li>
                <li>
                    <!-- <a class="page-scroll cursor" (click)="goToCursos()">Cursos del evento</a> -->
                    <a class="page-scroll cursor" href="#cursos">Cursos del evento</a>
                </li>
                <li>
                    <!-- <a class="page-scroll cursor" (click)="goToRegistro()">Registrese</a> -->
                    <a class="page-scroll cursor" href="#registro">Registrese</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!---home--->
<header id="inicio">
    <div class="header-content"></div>
</header>
