<!---intro--->
<section class="bg-primary fadeInUp wow" id="one">
    <div class="linea col-xs-hidden col-sm-3"></div>
    <div class=" col-xs-12 col-sm-6 text-center ">
        <h2 class="margin-top-0">Conoce a Ursi Galletti</h2>
        <h4 class="margin-top-0">Taller y Escuela</h4>
    </div>
    <div class="linea col-xs-hidden col-sm-3"></div>
</section>

<div class="clear"></div>

<section class="flex">
    <div class="container">
        <p class="wow fadeInUp col-xs-12 col-sm-6">
            El Taller Escuela Ursi Galletti se funda en Caracas Venezuela en el año 1991, por el orfebre Venezolano Ursi Galletti, hasta entonces se ha dedicado a la formación y capacitación de Orfebres, actualmente la escuela está ubicada en Houston Texas donde
            se continúa impartiendo talleres y cursos de capacitación y especialización en las diferentes areas de la joyería. <br> Tenemos la constancia..
        </p>
        <p class="wow fadeInUp col-xs-12 col-sm-6">
            Esta vez el taller escuela se traslada a la Ciudad de Orlando por una semana, realizaremos talleres intensivos de técnicas básicas y avanzadas, trabajaremos en plata y te llevaras 4 hermosas piezas realizadas en plata como resultado del talle.
            <br> Trabajaremos de de 10 am a 4 pm, el taller incluye todos los materiales
        </p>
        <div class="clear"></div>
        <a href="https://ursigalletti.net" target="_blank" class="d-flex">
            <button class="btn col-xs-12 col-sm-4  boton">
              Más de Ursi Galletti Taller Escuela
          </button>
        </a>
    </div>
</section>

<div class="clear"></div>