<!---nuestros cursos--->
<section class="flex" id="cursos">
    <div class="linea col-xs-hidden col-sm-3  wow fadeInLeft"></div>
    <div class=" col-xs-12 col-sm-6 text-center wow fadeInUp">
        <h2 class="margin-top-0">Nuestros Cursos</h2>
        <h4 class="margin-top-0">en el evento</h4>
    </div>
    <div class="linea col-xs-hidden col-sm-3 wow fadeIn"></div>
</section>

<div class="clear"></div>

<section class="flex">
    <div class="container">

        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/basicoOrfebreria.png" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Express de Orfebrería</h4>
            <ul>
                <li><b>Capacidad:</b> 5 puestos </li>
                <li><b>Horario:</b> Lunes a Jueves </li>
                <li><b>Fechas Propuestas:</b> 24 AL 28 JULIO </li>
                <li><b>Días:</b> 4</li>
                <li><b>Horas:</b> 12</li>
                <li><b>Hora:</b> 10:00am a 1:00pm | 2:00pm a 5:00pm</li>
                <li><b>Costo:</b> $420</li>
            </ul>
        </div>
        <!-- curso -->

        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/1.jpg" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Avanzado de Orfebrería</h4>
            <ul>
                <li><b>Capacidad:</b> 5 puestos </li>
                <li><b>Horario:</b> Lunes a Jueves </li>
                <li><b>Fechas Propuestas:</b> 24 AL 28 JULIO </li>
                <li><b>Días:</b> 4</li>
                <li><b>Horas:</b> 12</li>
                <li><b>Hora:</b> 10:00am a 1:00pm | 2:00pm a 5:00pm</li>
                <li><b>Costo:</b> $420</li>
            </ul>
        </div>
        <!-- curso -->
        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/metalClay.png" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Metal Clay</h4>
            <ul>
                <li><b>Capacidad:</b> 6 puestos </li>
                <li><b>Horario:</b> Martes a Viernes </li>
                <li><b>Fechas Propuestas:</b> 25 AL 27 DE JULIO </li>
                <li><b>Días:</b> 3</li>
                <li><b>Horas:</b> 12</li>
                <li><b>Hora:</b> 10:00am a 1:00pm | 2:00pm a 5:00pm</li>
                <li><b>Costo:</b> $350</li>
            </ul>
        </div>
        <!-- curso -->
        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/esmalteAlFuego.png" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Esmalte al Fuego</h4>
            <ul>
                <li><b>Capacidad:</b> 6 puestos </li>
                <li><b>Horario:</b> Lunes </li>
                <li><b>Fechas Propuestas:</b> 24 DE JULIO </li>
                <li><b>Días:</b> 1</li>
                <li><b>Horas:</b> 6</li>
                <li><b>Hora:</b> 10:00am a 4:00pm</li>
                <li><b>Costo:</b> $220</li>
            </ul>
        </div>
        <!-- curso -->
        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/alambrismobasico.png" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Alambrismo</h4>
            <ul>
                <li><b>Capacidad:</b> 6 puestos </li>
                <li><b>Horario:</b> Martes a Jueves</li>
                <li><b>Fechas Propuestas:</b> 25 AL 28 DE JULIO </li>
                <li><b>Días:</b> 2</li>
                <li><b>Horas:</b> 8</li>
                <li><b>Hora:</b> 10:00am a 2:00pm</li>
                <li><b>Costo:</b> $200</li>
            </ul>
        </div>
        <!-- curso -->
        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/04.jpg" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Resina y Madera</h4>
            <ul>
                <li><b>Capacidad:</b> 6 puestos </li>
                <li><b>Horario:</b>Lunes, Miercoles y Viernes</li>
                <li><b>Fechas Propuestas:</b> 24-26-28 DE JULIO </li>
                <li><b>Días:</b> 2</li>
                <li><b>Horas:</b> 8</li>
                <li><b>Hora:</b> 10:00am a 1:00pm | 2:00pm a 5:00pm</li>
                <li><b>Costo:</b> $240</li>
            </ul>
        </div>
        <!-- curso -->
        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/03.jpg" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Resina y Metal</h4>
            <ul>
                <li><b>Capacidad:</b> 6 puestos </li>
                <li><b>Horario:</b>Lunes, Miercoles y Viernes</li>
                <li><b>Fechas Propuestas:</b> 24-26-28 DE JULIO </li>
                <li><b>Días:</b> 2</li>
                <li><b>Horas:</b> 9</li>
                <li><b>Hora:</b> 10:00am a 1:00pm | 2:00pm a 5:00pm</li>
                <li><b>Costo:</b> $350</li>
            </ul>
        </div>
        <!-- curso -->
        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/reconstituido.png" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Reconstituido</h4>
            <ul>
                <li><b>Capacidad:</b> 6 puestos </li>
                <li><b>Horario:</b>Lunes a Miercoles</li>
                <li><b>Fechas Propuestas:</b> 24 AL 26 DE JULIO </li>
                <li><b>Días:</b> 3</li>
                <li><b>Horas:</b> 9</li>
                <li><b>Hora:</b> 10:00am a 1:00pm</li>
                <li><b>Costo:</b> $380</li>
            </ul>
        </div>
        <!-- curso -->
        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/modeladocera.png" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Modelado en Cera</h4>
            <ul>
                <li><b>Capacidad:</b> 6 puestos </li>
                <li><b>Horario:</b>Lunes y Jueves</li>
                <li><b>Fechas Propuestas:</b> 26 Y 27 DE JULIO </li>
                <li><b>Días:</b> 2</li>
                <li><b>Horas:</b> 8</li>
                <li><b>Hora:</b> 10:00am a 2:00pm</li>
                <li><b>Costo:</b> $220</li>
            </ul>
        </div>
        <!-- curso -->
        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/remaches.png" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Remaches</h4>
            <ul>
                <li><b>Capacidad:</b> 6 puestos </li>
                <li><b>Horario:</b>Martes, Miercoles y Jueves</li>
                <li><b>Fechas Propuestas:</b> 25, 26 Y 27 JULIO </li>
                <li><b>Días:</b> 3</li>
                <li><b>Horas:</b> 9</li>
                <li><b>Hora:</b> 10:00am a 1:00pm</li>
                <li><b>Costo:</b> $220</li>
            </ul>
        </div>
        <!-- curso -->


        <!-- <a href="#" class="d-flex">
          <button class="btn col-xs-12 col-sm-4  boton">
              Conocer más de nuestros cursos
          </button>
      </a> -->

    </div>
    <div class="clear"></div>
    <br>
    <div class="container">
        <h2 class="text-center">Cursos Especiales</h2>
        <br>
        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/engasteDeUnas.png" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Anillo 6 Uñas</h4>
            <ul>
                <li><b>Capacidad:</b> 4 puestos </li>
                <li><b>Horario:</b> Martes a Jueves </li>
                <li><b>Fechas Propuestas:</b> 25 AL 27 JULIO </li>
                <li><b>Días:</b> 3</li>
                <li><b>Horas:</b> 9</li>
                <li><b>Hora:</b> 10:00am a 1:00pm | 2:00pm a 5:00pm</li>
                <li><b>Costo:</b> $380</li>
            </ul>
        </div>
        <!-- curso -->
        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/anillovolumen.png" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Anillo de Volumen</h4>
            <ul>
                <li><b>Capacidad:</b> 4 puestos </li>
                <li><b>Horario:</b> Miercoles y Jueves </li>
                <li><b>Fechas Propuestas:</b> 26 Y 27 DE JULIO </li>
                <li><b>Días:</b> 2</li>
                <li><b>Horas:</b> 6</li>
                <li><b>Hora:</b> 10:00am a 1:00pm | 2:00pm a 5:00pm</li>
                <li><b>Costo:</b> $380</li>
            </ul>
        </div>
        <!-- curso -->
        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/anilloantiestress.png" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Anillo Antiestress</h4>
            <ul>
                <li><b>Capacidad:</b> 4 puestos </li>
                <li><b>Horario:</b> Miercoles </li>
                <li><b>Fechas Propuestas:</b> 26 DE JULIO </li>
                <li><b>Días:</b> 1</li>
                <li><b>Horas:</b> 6</li>
                <li><b>Hora:</b> 10:00am a 4:00pm</li>
                <li><b>Costo:</b> $220</li>
            </ul>
        </div>
        <!-- curso -->
        <!-- curso -->
        <div class="enamorate col-xs-12 col-sm-3 wow fadeInUp">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="./assets/images/cursos/cadenachina.png" alt="Ursi Galletti Orgebrería">
            </div>
            <h4>Cadena China</h4>
            <ul>
                <li><b>Capacidad:</b> 4 puestos </li>
                <li><b>Horario:</b> Martes a Viernes </li>
                <li><b>Fechas Propuestas:</b> 25 AL 28 DE JULIO </li>
                <li><b>Días:</b> 4</li>
                <li><b>Horas:</b> 12</li>
                <li><b>Hora:</b> 10:00am a 1:00pm | 2:00pm a 5:00pm</li>
                <li><b>Costo:</b> $420</li>
            </ul>
        </div>
        <!-- curso -->
    </div>
    <div class="container">
        <p class="text-center">
            El único curso que no incluye materiales en el precio es el <b>Curso de Metal Clay</b> el resto de los cursos están incluidos los materiales, trabajaremos en plata.
        </p>
    </div>
</section>

<div class="clear"></div>