@charset "UTF-8";

/* CSS Document */


/*Author: Malcolm cordova @malcolmcordova mercadocreativo@gmail.com www.malcolmcordova.com*/

.tabbable-panel {
    /*padding: 10px;*/
}


/* Default mode */

.tabbable-line>.nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable-line>.nav-tabs>li {
    margin-right: 2px;
}

.tabbable-line>.nav-tabs>li>a {
    border: 0;
    margin-right: 0;
    font-family: 'Gotham Narrow Book';
    color: #737373;
    font-size: 18px;
}

.tabbable-line>.nav-tabs>li>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open,
.tabbable-line>.nav-tabs>li:hover {
    border-bottom: 1px solid #1b8592;
}

.tabbable-line>.nav-tabs>li.open>a,
.tabbable-line>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
    color: #333333;
}

.tabbable-line>.nav-tabs>li.open>a>i,
.tabbable-line>.nav-tabs>li:hover>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu,
.tabbable-line>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}

.tabbable-line>.nav-tabs>li.active {
    border-bottom: 1px solid var(--vinotinto);
    position: relative;
}

.tabbable-line>.nav-tabs>li.active>a {
    border: 0;
    color: #333333;
}

.tabbable-line>.nav-tabs>li.active>a>i {
    color: #404040;
}

.tabbable-line>.tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    padding: 15px 0;
    height: 20vh;
}

.portlet .tabbable-line>.tab-content {
    padding-bottom: 0;
}


/* Below tabs mode */

.tabbable-line.tabs-below>.nav-tabs>li {
    border-top: 4px solid transparent;
}

.tabbable-line.tabs-below>.nav-tabs>li>a {
    margin-top: 0;
}

.tabbable-line.tabs-below>.nav-tabs>li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
}

.tabbable-line.tabs-below>.nav-tabs>li.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-top: 4px solid #f3565d;
}

.tabbable-line.tabs-below>.tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.tabss {
    margin-bottom: 40px !important;
    width: 35% !important;
    margin: auto !important;
}

@media(max-width:768px) {
    .tabbable-line>.nav-tabs>li {
        margin-right: 0px;
        width: 53% !important;
    }
}


/* texts */

.tab-content h1 {
    font-family: 'futura medium bt';
    font-size: 34px;
    color: var(--vinotinto);
    text-transform: uppercase;
    text-align: right;
    padding: 0;
    margin: 0
}

.tab-content h4 {
    font-family: 'futura light bt';
    font-size: 20px;
    color: var(--vinotinto);
    text-transform: uppercase;
    text-align: right;
    padding: 0;
    margin: 0
}

.tab-content h5 {
    font-family: 'futura light bt';
    font-size: 20px;
    color: var(--vinotinto);
    text-transform: uppercase;
    text-align: right;
    padding: 0;
    margin: 0
}

.tab-content h6 {
    font-family: 'futura light bt';
    font-size: 13px;
    color: var(--vinotinto);
    text-transform: uppercase;
    text-align: right;
    padding: 0;
    margin: 0;
}

.tab-content p {
    font-family: 'Gotham Narrow Book';
    font-size: 16px;
    color: #6b6b6b;
    padding: 0;
    margin: 0;
}

.tab-content p b {
    font-family: 'GothamNarrow-Medium';
}

@media only screen and (min-width: 990px) and (max-width: 1340px) {
    .tabss {
        margin-bottom: 40px !important;
        width: 46% !important;
        margin: auto !important;
    }
    .tab-content h1 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2100px) {
    .tabss {
        margin-bottom: 40px !important;
        width: 31% !important;
        margin: auto !important;
    }
}

@media only screen and (min-width: 2100px) and (max-width: 2400px) {
    .tabss {
        margin-bottom: 40px !important;
        width: 26% !important;
        margin: auto !important;
    }
}