<!---lo mejor--->
<section class="flex hidden-xs">
    <div class="container">
        <div class="row">
            <div class="cuadrofondo no-padding col-xs-12 col-sm-6 wow fadeIn">
                <h4>Visitenos!</h4>
                <p>Si deseea asistir a nuestros cursos despues de este evento, Estamos ubicados en: 7500 Bellaire Blvd, Houston, Texas 77036.<br> Contamos con cursos online.
                </p>
            </div>
            <div class="no-padding col-xs-12 col-sm-6  wow fadeIn">
                <img src="./assets/images/taller/taller1.jpg" alt="Ursi Galletti Orgebrería">
            </div>
        </div>


        <div class="row">
            <div class="no-padding col-xs-12 col-sm-6 wow fadeIn">
                <img src="./assets/images/taller/taller2.jpg" alt="Ursi Galletti Orgebrería">
            </div>
            <div class="cuadrofondo2 no-padding col-xs-12 col-sm-6  wow fadeIn">
                <h4>Excelente locación</h4>
                <p>Contamos con el mejor equipo para que puedas aprender y aplicar conocimientos en cada clase. </p>
            </div>
        </div>


        <div class="row">
            <div class="cuadrofondo3 no-padding col-xs-12 col-sm-6 wow fadeIn">
                <h4>Atención Personalizada</h4>
                <p>Los Cursos y talleres son dictados por Ursi Galletti contando con un amplia experiencia en Orfebrería.</p>
            </div>
            <div class="no-padding col-xs-12 col-sm-6  wow fadeIn">
                <img src="./assets/images/taller/taller3.jpg" alt="Ursi Galletti Orgebrería">
            </div>
        </div>

    </div>
</section>

<!---movil-->

<section class="visible-xs">
    <div>
        <div class="no-padding col-xs-12 col-sm-6  wow fadeIn">
            <img src="./assets/images/taller/taller1.jpg" alt="Ursi Galletti Orgebrería">
        </div>
        <div class="cuadrofondo no-padding col-xs-12 col-sm-6 wow fadeIn">
            <h4>Visitenos!</h4>
            <p>Si deseea asistir a nuestros cursos despues de este evento, Estamos ubicados en: 7500 Bellaire Blvd, Houston, Texas 77036.<br> Contamos con cursos online.</p>
        </div>

    </div>


    <div>
        <div class="no-padding col-xs-12 col-sm-6 wow fadeIn">
            <img src="./assets/images/taller/taller2.jpg" alt="Ursi Galletti Orgebrería">
        </div>
        <div class="cuadrofondo2 no-padding col-xs-12 col-sm-6  wow fadeIn">
            <h4>Excelente locación</h4>
            <p>Contamos con el mejor equipo para que puedas aprender y aplicar conocimientos en cada clase. </p>
        </div>
    </div>


    <div>
        <div class="no-padding col-xs-12 col-sm-6  wow fadeIn">
            <img src="./assets/images/taller/taller3.jpg" alt="Ursi Galletti Orgebrería">
        </div>
        <div class="cuadrofondo3 no-padding col-xs-12 col-sm-6 wow fadeIn">
            <h4>Atención Personalizada</h4>
            <p>Los Cursos y talleres son dictados por Ursi Galletti contando con un amplia experiencia en Orfebrería.</p>
        </div>

    </div>
</section>

<div class="clear"></div>

<!---foto imagina--->
<section>
    <img src="./assets/images/imagina.jpg" class="wow fadeInUp" alt="Ursi Galletti Orgebrería">
</section>

<div class="clear"></div>
